body{
    width: 100vw;
    height: 100vh;
    background-color: $backgroundDark;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 80%;
    height: auto;
    background-color: $containerBackground;
    padding: 30px;   
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: 1fr;
}

h2{
    text-align: center;
    font-size: 2.75rem;
    text-transform: uppercase;
}

h3{
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h4{
    font-size: 2.75rem;
}

button{
    background-color: none;
    border: 1px solid lightgray;
    padding: 10px 10px;
}

//TRANSACTION INPUT SECTION
.transactionInput{
    background-color: $inputBackground;
    padding: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
}

.transactionInfo{
    display: flex;
    flex-direction: column;
}

.transactionType{
    display: flex;
    justify-content: space-around;
}

input[type=radio]{
    padding: 10px;
}

.transactionInfo label,
.transactionType label{
    text-align: center;
    margin: 20px 0;
}

input[type="text"], 
input[type="number"]{
    border: none;
    padding: 7px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.submit{
    width: 100%;
    margin: 40px 0;
    padding: 10px;
    border: none;
    background-color: $neutralAccent;
}

button:hover{
    cursor: pointer;
    transform: scale(1.01);
}

//INFORMATION SECTION
.dataDisplay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 4 / 9;
}
.summary{
    display: flex;
    justify-content: center;
}

.summaryCard{
    background-color: $inputBackground;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
    text-align: center;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.totalIncome{
    background-color: $incomeAccent;
}

.totalExpense{
    background-color: $expenseAccent;
}

//ALL TRANSACTIONS SECTION

.allTransactions{
    height: 300px;
    overflow-y: scroll;
    margin: 30px 0;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.transactionList{
    width: 100%;
    table-layout: fixed;
    padding: 10px;
}

table tr.expense .amount,
table tr.expense .description{
    background-color: #f4433670;
}

table tr.income .amount,
table tr.income .description
{
    background-color: #5ba36570;
}

table tr td.transactionModify{
    width: 15%;
    background-color:none;
}

.transactionBtn{
    display: flex;
    justify-content: space-around;
}

.amount{
    min-width: 150px;
    width: 25%;
}

.description{
    width: 60%;
    text-align: center;
}

table tr td{
    word-wrap: break-word;
}

table tr td.amount{
    text-align: right;
}

