
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


$backgroundDark: #333E54;
$containerBackground: #F6F6F7;
$inputBackground: #AAB6BB;
$incomeAccent: #5ba365;
$expenseAccent: #f44336;
$neutralAccent: #7e8895;